html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		"Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background: whitesmoke;
}

body {
	color: black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	html {
		background: #222;
	}

	body {
		color: whitesmoke;
	}
}

header h1 {
	font-size: 20vmin;
	text-align: center;
	text-shadow: 1px 1px 10px #000;
}

footer {
	position: sticky;
	bottom: 2px;

	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgba(240,240,240,0.5);
	border-radius: 0.2rem;
	color: black;
	margin: 1rem auto;
	padding: 0.2rem;
	text-align: center;
}

a {
	color: inherit;
}

main {
	align-content: space-around;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	gap: 1rem;
	justify-content: space-evenly;
	margin: 0 1rem;
}

main img {
	height: auto;
	max-width: 100%;
}

.lightbox {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgba(20,20,20,0.95);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.lightbox:target {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
}

.lightbox .image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 95%;
	width: 95%;
}

.lightbox > a {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 2.5rem;
	justify-content: center;
	padding: 1rem;
	position: fixed;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	width: 3rem;
}

.lightbox > a:hover {
	background-color: rgba(0,0,0,0.5);
}

.lightbox > a::after {
	transition: all 0.5s ease;
	opacity: 0.5;
}

.lightbox > a:hover::after {
	opacity: 1;
}

.lightbox_close {
	top: 0;
	right: 0;
}

.lightbox_download {
	bottom: 0;
	right: 0;
}

.lightbox_before {
	top: 0;
	bottom: 0;
	left: 0;
}

.lightbox_after {
	top: 5rem;
	bottom: 5rem;
	right: 0;
}

.lightbox_close::after {
	content: "\00d7";
}

.lightbox_download::after {
	content: "↓";
}

.lightbox_before::after {
	content: "←";
}

.lightbox_after::after {
	content: "→";
}
